@import "tailwindcss";

.prose-invert ul{
    margin-bottom: 1rem;
    margin-left: 1rem;
    list-style: circle;
}

.prose-invert p{
    margin-bottom: 0.5rem;
}

.prose-invert a{
    text-decoration: underline;
    color: rgb(75, 194, 75);
}